<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>

    <!-- 내부 css -->
     <link rel="stylesheet" href="stylesheets/main.css">
    <!--<link rel="stylesheet" href="../public/stylesheets/main.css">-->

    <!-- 외부 js -->
    <!-- <link href="https://cdn.quilljs.com/1.3.5/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.5/quill.js"></script> -->

    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>

    <!-- 내부 js -->
    <!-- <script src="scripts/main.js"></script> -->
    <script src="../public/scripts/main.js"></script>

</head>
<!-- 이가 불타면? -->
<!-- 이가탄 -->
<body>

    <nav>
        <div id="logo">
        </div>
        <div id="profile">
            <div class="container-out">
                <div class="container-in">
                    <% user.name %>님 환영합니다!
                </div>
            </div>
        </div>
        <a class="nav-button" href="/inbox" title="받은 메일함">
            <div class="container-out">
                <div class="container-in">
                    받은 메일함
                </div>
            </div>
        </a>
        <a class="nav-button" href="/sent-mail" title="보낸 메일함">
            <div class="container-out">
                <div class="container-in">
                    보낸 메일함
                </div>
            </div>
        </a>
        <a class="nav-button" href="/deposit" title="임시 보관함">
            <div class="container-out">
                <div class="container-in">
                    임시 보관함
                </div>
            </div>
        </a>
        <a class="nav-button" href="/send" title="메일 쓰기">
            <div class="container-out">
                <div class="container-in">
                    메일 쓰기
                </div>
            </div>
        </a>
        <form action="/logout" method="post">
            <input class="nav-button logout" type="submit" name="logout" value="로그아웃">
                <div class="container-out">
                    <div class="container-in">
                    </div>
                </div>
            </input>
        </form>
    </nav>

    <div id="container">
    </div>

    <div id="main">
        <div id="header-cover">
            <div id="header" class="asdf">
                <form id="search-form" action="@@@@@" method="get">
                    <div id="search-field">
                        <input id="search-field-input" name="@@@@@" placeholder="검색" type="search" autocomplete="no">
                    </div>
                    <div id="search-button">
                        <input id="search-button-input" type="submit" value="검색">
                    </div>
                </form>
            </div>
        </div>
        <div id="provider">
            <div id="provider-in">
                <span class="big-font"><span class="log-color">임시</span> 보관함</span><br>
                <table>
                    <tr class="bold-border">
                        <th class="mail-del mail-list-top"><i>삭제</i></th>
                        <th class="mail-title mail-list-top"><i>메일 제목</i></th>
                        <th class="mail-sender mail-list-top"><i>보낸 사람</i></th>
                        <th class="mail-DNT mail-list-top"><i>일시</i></th>
                    </tr>
                    <% for (var mail of mails) { %>
                        <tr>
                            <div class="mail-lists-tr">
                                <td class="mail-lists"></td>
                                <td class="mail-lists">
                                    <a class="" href="<%= mail._id %>" title="<%= mail.title %>"><%= mail.title %></a>    <!-- 메일 제목 -->
                                </td>    
                                <td class="mail-lists"><%= mail.from %></td>    <!-- 보낸 사람 -->
                                <td class="mail-lists"><%= mail.date %></td>    <!-- 일시 -->
                            </div>
                        </tr>

<!-- 
                        <tr>
                            <div class="mail-lists-tr">
                                <td class="mail-lists">
                                    <a class="" href="asdf" title="이 메일은 테스트용 입니다">이 메일은 테스트용 입니다</a>
                                </td>    
                                <td class="mail-lists">gjdprtm@naver.com</td>
                                <td class="mail-lists">2018. 2. 21</td>
                            </div>
                        </tr>
-->
                    <% } %>

                </table>
            </div>
        </div>
    </div>
    
</body>
</html>