<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>

    <!-- 내부 css -->
    <!-- <link rel="stylesheet" href="stylesheets/main.css"> -->
    <link rel="stylesheet" href="../public/stylesheets/main.css">

    <!-- 외부 js -->
    <!-- <link href="https://cdn.quilljs.com/1.3.5/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.5/quill.js"></script> -->

    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>

    <!-- 내부 js -->
    <!-- <script src="scripts/main.js"></script> -->
    <script src="../public/scripts/main.js"></script>

</head>
<!-- 이가 불타면? -->
<!-- 이가탄 -->
<body>

    <nav>
        <div id="logo">
            로고입니당~
            <img src="../public/images/logo.png">
        </div>
        <div id="profile">
            <div class="container-out">
                <div class="container-in">
                    <% user.name %>님 환영합니다!
                </div>
            </div>
        </div>
        <a class="nav-button" href="/" title="받은메일함">
            <div class="container-out">
                <div class="container-in">
                    받은메일함
                </div>
            </div>
        </a>
        <a class="nav-button" href="/sent-mail" title="보낸메일함">
            <div class="container-out">
                <div class="container-in">
                    보낸메일함
                </div>
            </div>
        </a>
        <a class="nav-button" href="/deposit" title="임시 보관함">
            <div class="container-out">
                <div class="container-in">
                    임시 보관함
                </div>
            </div>
        </a>
        <a class="nav-button" href="/send" title="메일쓰기">
            <div class="container-out">
                <div class="container-in">
                    메일쓰기
                </div>
            </div>
        </a>
    </nav>

    <div id="container">
    </div>

    <div id="main">
        <div id="header-cover">
            <div id="header" class="asdf">
                <form id="search-form" action="@@@@@" method="get">
                    <div id="search-field">
                        <input id="search-field-input" name="@@@@@" placeholder="검색" type="search" autocomplete="no">
                    </div>
                    <div id="search-button">
                        <input id="search-button-input" type="submit" value="검색">
                    </div>
                </form>
            </div>
        </div>
        <div id="provider">
            <div id="provider-in">
                    <span class="big-font"><span class="log-color">임시</span> 보관함</span><br>
                <table>
                    <tr class="bold-border">
                        <th class="mail-title mail-list-top"><i>메일 제목</i></th>
                        <th class="mail-sender mail-list-top"><i>보낸 사람</i></th>
                        <th class="mail-DNT mail-list-top"><i>일시</i></th>
                    </tr>
<!-- 
                    <tr>
                        <td class="mail-lists">asdf</td>
                        <td class="mail-lists">asdf</td>
                        <td class="mail-lists">asdf</td>
                    </tr>

                    <tr>
                        <td class="mail-lists">asdf</td>
                        <td class="mail-lists">asdf</td>
                        <td class="mail-lists">asdf</td>
                    </tr>

                    <tr>
                        <td class="mail-lists">asdf</td>
                        <td class="mail-lists">asdf</td>
                        <td class="mail-lists">asdf</td>
                    </tr> -->




                    <% for (var i = @@@@@.length; i > 0; --i) { %>
                        <tr>
                            <td class="mail-lists"><%= @@@@@.i %></td>    <!-- (메일 제목).i -->
                            <td class="mail-lists"><%= @@@@@.i %></td>    <!-- (보낸 사람).i -->
                            <td class="mail-lists"><%= @@@@@.i %></td>    <!-- (일시).i -->
                        </tr>
                    <% } %>


<!--                     
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
                    asdf<br>
-->
                </table>
            </div>
        </div>
    </div>
    
</body>
</html>