<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="javascripts/main.js"></script>
</head>
<body>
    <!-- 아이언맨의 왼손은? -->
    <!-- 스타크래프트 -->

    <nav>
        <div id="logo">
            로고입니당~
            <img src="../public/images/logo.png">
        </div>
        <div id="profile">
            <div class="container-out">
                <div class="container-in">
                    <% user.name %>님 환영합니다!
                </div>
            </div>
        </div>
        <a class="nav-button" href="index.html" title="받은메일함">
            <div class="container-out">
                <div class="container-in">
                    받은메일함
                </div>
            </div>
        </a>
        <a class="nav-button" href="@@@@@" title="보낸메일함">
            <div class="container-out">
                <div class="container-in">
                    보낸메일함
                </div>
            </div>
        </a>
        <a class="nav-button" href="@@@@@" title="임시 보관함">
            <div class="container-out">
                <div class="container-in">
                    임시 보관함
                </div>
            </div>
        </a>
        <a class="nav-button" href="mail-write.html" title="메일쓰기">
            <div class="container-out">
                <div class="container-in">
                    메일쓰기
                </div>
            </div>
        </a>
    </nav>

    <div id="container">
    </div>

    <div id="main">
        <div id="header-cover">
            <div id="header" class="asdf">
                <form id="search-form" action="@@@@@" method="get">
                    <div id="search-field">
                        <input id="search-field-input" name="@@@@@" placeholder="검색" type="search" autocomplete="no">
                    </div>
                    <div id="search-button">
                        <input id="search-button-input" type="submit">
                    </div>
                </form>
            </div>
        </div>
        <div id="provider">
            <div id="provider-in">
                <table>
                    <tr class="bold-border">
                        <th class="mail-title mail-list-top"><i>메일 제목</i></th>
                        <th class="mail-sender mail-list-top"><i>보낸 사람</i></th>
                        <th class="mail-DNT mail-list-top"><i>일시</i></th>
                    </tr>
<!-- 
                    <tr>
                        <td>asdf</td>
                        <td>asdf</td>
                        <td>asdf</td>
                    </tr>
-->

                    <% for (var i = @@@@@.length; i > 0; --i) { %>
                        <tr>
                            <td class="mail-lists"><%= @@@@@.i %></td>    <!-- (메일 제목).i -->
                            <td class="mail-lists"><%= @@@@@.i %></td>    <!-- (보낸 사람).i -->
                            <td class="mail-lists"><%= @@@@@.i %></td>    <!-- (일시).i -->
                        </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </div>
    
</body>
</html>