<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>

    <!-- 내부 css -->
    <link rel="stylesheet" href="stylesheets/main.css">
    <!-- <link rel="stylesheet" href="../public/stylesheets/main.css"> -->

    <!-- 외부 js -->
    <!-- <link href="https://cdn.quilljs.com/1.3.5/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.5/quill.js"></script> -->

    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>

    <!-- 내부 js -->
    <script src="scripts/main.js"></script>
    <!-- <script src="../public/scripts/main.js"></script> -->

</head>
<!-- 물음표를 뒤집으면? -->
<!-- 표믕롬 -->
<body>
    <div id="shrug">
        <div>
            <span class="very-very-big-font">( ・∇・)/</span><br>
            회원가입이 성공적으로 이루어졌습니다!<br>
            돌아가셔서 로그인을 해주세요.
        </div>
    </div>
</body>