<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>

    <!-- 내부 css -->
    <!-- <link rel="stylesheet" href="stylesheets/main.css"> -->
    <link rel="stylesheet" href="../public/stylesheets/main.css">

    <!-- 외부 js -->
    <!-- <link href="https://cdn.quilljs.com/1.3.5/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.5/quill.js"></script> -->

    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>

    <!-- 내부 js -->
    <!-- <script src="scripts/main.js"></script> -->
    <script src="../public/scripts/main.js"></script>

</head>
<!-- 구일역을 수화로 표현하면? -->
<!-- 9 1 역 -->
<body>
    <div class="wrap flex-center">
        <span class="big-font"><span class="log-color">팀로그 메일서버</span>에 어서오세요!</span><br>
        <div id="login-box">
            <form id="login-tap" class="flex-top-center" action="@@@@@" method="post">    <!-- 로그인 주소 -->
                <div id="login-tap-bg">
                    <p class="login-text">
                        <input class="login-input" type="text" name="id" placeholder="아이디" maxlength="20">    <!-- 아이디 -->
                        <br>
                        <input class="login-input" type="password" name="pw" placeholder="비밀번호" maxlength="20">    <!-- 비밀번호 -->
                    </p>
                    <div class="login-submit">
                        <input class="login-submit-button" type="submit" value="로그인">
                    </div>
                </div>
            </form>
            <form id="join-tap" class="flex-top-center" action="@@@@@" method="post">    <!-- 회원가입 주소 -->
                <div id="join-tap-bg">
                    <div class="login-submit">
                        <input class="login-submit-button" type="submit" value="회원가입">
                    </div>
                    <p class="login-text">
                        <input class="login-input" type="text" name="id" placeholder="아이디" maxlength="20">    <!-- 아이디 -->
                        <br>
                        <input class="login-input" type="password" name="pw" placeholder="비밀번호" maxlength="20">    <!-- 비밀번호 -->
                        <br>
                        <input class="login-input" type="password" name="pw" placeholder="비밀번호 확인" maxlength="20">    <!-- 비밀번호 -->
                    </p>
                </div>
            </form>
        </div>
    </div>
</body>