<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
    <link rel="stylesheet" href="../public/stylesheets/main.css">
    <script src="../public/javascripts/main.js"></script>
</head>
<body>
    <!-- 오류중학교를 영어로 하면? -->
    <!-- 에러미들스쿨 -->

    <nav>
        <div id="logo">
            로고입니당~
            <img src="../public/images/logo.png">
        </div>
        <div id="profile">
            <div class="container-out">
                <div class="container-in">
                    <% user.name %>님 환영합니다!
                </div>
            </div>
        </div>
        <a class="nav-button" href="index.html" title="받은메일함">
            <div class="container-out">
                <div class="container-in">
                    받은메일함
                </div>
            </div>
        </a>
        <a class="nav-button" href="@@@@@" title="보낸메일함">
            <div class="container-out">
                <div class="container-in">
                    보낸메일함
                </div>
            </div>
        </a>
        <a class="nav-button" href="@@@@@" title="임시 보관함">
            <div class="container-out">
                <div class="container-in">
                    임시 보관함
                </div>
            </div>
        </a>
        <a class="nav-button" href="mail-write.html" title="메일쓰기">
            <div class="container-out">
                <div class="container-in">
                    메일쓰기
                </div>
            </div>
        </a>
    </nav>

    <div id="container">
    </div>

    <form id="main" class="mail-write-form" action="/@@@@@" method="@@@@@" enctype="multipart/form-data">
        <div id="header-cover">
            <div id="header" class="asdf">
                <div id="button-bundle">
                    <input class="button" type="submit" name="send" value="보내기" formaction="/@@@@@">
                    <input class="button" type="submit" name="preview" value="미리보기" formaction="/@@@@@">
                    <input class="button" type="submit" name="Save" value="임시저장" formaction="/@@@@@">
                </div>
            </div>
        </div>
        <div id="provider">
            <div id="provider-in">
                <div id="letter">
                    <input type="email" name="recipient">
                    <input type="file" name="attachment">
                    <input type="text" name="title">
                    <input type="text" name="content">
                </div>
            </div>
        </div>
    </form>
    
    <!-- <yap>
        내일 할일 : 서브밑에 폼액션 달기, 
    </yap> -->

</body>
</html>