<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>

    <!-- 내부 css -->
    <link rel="stylesheet" href="stylesheets/main.css">
    <!-- <link rel="stylesheet" href="../public/stylesheets/main.css"> -->

    <!-- 외부 js -->
    <!-- <link href="https://cdn.quilljs.com/1.3.5/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.5/quill.js"></script> -->

    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>

    <!-- 내부 js -->
    <script src="scripts/main.js"></script>
    <!-- <script src="../public/scripts/main.js"></script> -->

</head>
<!-- 오류중학교를 영어로 하면? -->
<!-- 에러미들스쿨 -->
<body>

    <nav>
        <div id="logo">
            로고입니당~
            <img src="../public/images/logo.png">
        </div>
        <div id="profile">
            <div class="container-out">
                <div class="container-in">
                    <% user.name %>님 환영합니다!
                </div>
            </div>
        </div>
        <a class="nav-button" href="/" title="받은메일함">
            <div class="container-out">
                <div class="container-in">
                    받은메일함
                </div>
            </div>
        </a>
        <a class="nav-button" href="@@@@@" title="보낸메일함">
            <div class="container-out">
                <div class="container-in">
                    보낸메일함
                </div>
            </div>
        </a>
        <a class="nav-button" href="@@@@@" title="임시 보관함">
            <div class="container-out">
                <div class="container-in">
                    임시 보관함
                </div>
            </div>
        </a>
        <a class="nav-button" href="/send" title="메일쓰기">
            <div class="container-out">
                <div class="container-in">
                    메일쓰기
                </div>
            </div>
        </a>
    </nav>

    <div id="container">
    </div>

    <form id="main" class="mail-write-form" action="/@@@@@" method="@@@@@" enctype="multipart/form-data">
        <div id="header-cover">
            <div id="header" class="asdf">
                <div id="button-bundle">
                    <input class="button" type="submit" name="send" value="보내기" formaction="/@@@@@">
                    <input class="button" type="submit" name="preview" value="미리보기" formaction="/@@@@@">
                    <input class="button" type="submit" name="Save" value="임시저장" formaction="/@@@@@">
                </div>
            </div>
        </div>
        <div id="provider">
            <div id="provider-in">
                <div id="letter">
                    <input type="email" name="recipient">
                    <input type="file" name="attachment">
                    <input type="text" name="title">
                    <textarea name="content" cols="30" rows="10"></textarea>
                </div>
            </div>
        </div>
    </form>
    

</body>
</html>