@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

:root {
    --nav-width: 300px;
}

html, body {
    display: flex;
    width: 100%;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

hr {
    border-color: #FF4D4D;
}

table {
    width: 100%;
    text-align: center;
}

/* 네비게이션 */
    nav {
        flex: none;
        position: fixed;
        z-index: 1;
        width: var(--nav-width);
        height: 100%;
        color: #ffffff;
        font-size: large;
        /* background-color: rgb(255, 153, 94); */
        background-image: url(../images/orange-polygon.jpg);
        background-size: cover;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
    }
    #logo {
        box-sizing: border-box;
        width: 100%;
        height: 90px;
        margin: auto;
    }

    #profile {
        box-sizing: border-box;
        width: 100%;
        height: 90px;
        padding-left: 15%;
        padding-right: 15%;
    }

    .nav-button {
        z-index: 1;
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 75px;
        border-right: 13px dotted rgba(255, 77, 77, 0);
        padding-left: 15%;
        padding-right: 10%;
        font-size: large;
        color: #ffffff;
        text-decoration:none;
        /* background-color: rgb(255, 153, 94); */
        background-color: rgba(255, 130, 57, 0);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.329) inset;
        transition: 0.2s;
    }
    .nav-button:hover {
        box-sizing: border-box;
        width: 105%;
        height: 75px;
        padding-left: 50%;
        background-color: rgb(219, 33, 33);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.329);
    }
/* 네비게이션-끝 */

/* 컨테이너 */
    #container {
        flex: none;
        width: var(--nav-width);
        height: 100%;
    }
/* 컨테이너-끝*/

/* 검색 */
    #main {
        flex: 1;
        box-sizing: border-box;
        vertical-align: top;
        border-right: 0px dotted #FF4D4D;
        border-left: 0px dashed #FF4D4D;
    }

    #header-cover {
        position: fixed;
        width: calc(100% - var(--nav-width));
        height: 100px;
        margin: auto;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.329);
        transition: 0.2s;
    }

    #header-cover.on {
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.329);
    }

    #header {
        position: fixed;
        width: calc(100% - var(--nav-width));
        height: 100px;
        margin: auto;
        background-color: #ffffff;
        box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.329) inset;
        transition: 0.2s;
    }

    #header.on {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.329) inset;
    }
    
    #search-form {
        display: flex;
        width: 100%;
        height: 100%;
    }

    #search-field {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 8;
        background-color: #3333330c;
    }

    #search-field-input {
        width: 80%;
        border: 0;
        border-bottom: 3px solid #FF4D4D;
        padding: 0 1%;
        font-size: 130%;
        background: rgba(255, 255, 255, 0);
        transition: 0.2s;
    }

    #search-field-input:focus {
        width: 90%;
        border-bottom: 1px solid #FF4D4D;
        box-shadow: 0 1px 5px #FF4D4D;
    }

    #search-button {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 2;
    }

    #search-button-input {
        height: 60px;
        width: 100%;
        margin-left: 50px;
        transition: 0.2s;
    }
    #search-button-input:hover {
        margin-left: 0;
    }
/* 검색-끝 */
    
/* 메일 리스트 */
    #provider {
        margin-top: 110px;
    }

    #provider-in {
        margin: 20px;
    }

    .bold-border {
    }

    .mail-title {
        width: 60%;
    }
    .mail-sender {
        width: 25%;
    }
    .mail-DNT {
        width: 15%;
    }
    
    .mail-list-top {
        border-bottom: 3px solid #FF4D4D;
    }
    .mail-lists {
        border-bottom: 1px solid #FF4D4D;
    }
/* 메일 리스트-끝 */

/* 메일 쓰기 */
    .mail-write-form {
    }

    #button-bundle {
        display: flex;
        height: 100%;
        align-items: center;
    }

    .button {
        display: inline-block;
        margin: 10px;
        border: none;
        padding: 15px 32px;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        color: white;
        background-color: #FF4D4D;
    }
/* 메일 쓰기-끝 */

/* 로그인 */
    #login-box {
        width: 100%;
        margin: 30px 15%;
        background-color: #f7f7f7;
    }

    #login-tap {
        width: 720px;
        height: 100px;
        margin: 5% auto;
        padding: 0 40px;
    }
    #join-tap {
        width: 720px;
        height: 100px;
        margin: 5% auto;
        padding: 0 40px;
    }

    #login-tap-bg {
        margin-left: auto;
        flex: initial;
        display: flex;
        width: 70%;
    }
    #join-tap-bg {
        margin-right: auto;
        flex: initial;
        width: 70%;
    }

    .login-text {
        flex: 9;
    }
    .login-submit {
        flex: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .login-input {
        width: 80%;
        margin: 1% 0 0 1%;
        border-top: 0 solid rgba(0, 0, 0, 0);
        border-right: 5px solid rgba(0, 0, 0, 0);
        border-bottom: 5px solid rgb(212, 212, 212);
        border-left: 5px solid rgba(0, 0, 0, 0);
        padding: 2%;
        font-size: large;
        background: rgba(0, 0, 0, 0);
        transition: 0.2s;
    }
    .login-input:focus {
        width: 85%;
        margin: 0 1% 1% 0;
        border-top: 2px solid rgba(0, 0, 0, 0);
        border-right: 0 solid rgba(0, 0, 0, 0);
        border-bottom: 3px solid rgb(212, 212, 212);
        border-left: 0 solid rgba(0, 0, 0, 0);
        box-shadow: 2px 5px 3px rgb(148, 148, 148); 
    }

    .login-submit-button {
        flex: 1;
        height: 70%;
        margin: 5px 0 0 5px;
        transition: 0.2s;
    }
    .login-submit-button:hover {
        margin: 0 5px 5px 0;
        box-shadow: 10px 10px 3px rgb(148, 148, 148);
    }
/* 로그인-끝 */

/* 404 */
    #shrug {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        text-align: center;
    }
/* 404-끝 */

/* 공통 */
    .very-big-font {
        font-size: 1600%;
    }

    .wrap {
        width: 100%;
        width: 100%;
        height: 100vh;
    }
    
    .flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .flex-top-center {
        display: flex;
        align-items: center;
        /* justify-content: center; */
    }

    .container-out {
        display: table;
        width: 100%;
        height: 100%;
    }

    .container-in{
        display: table-cell;
        vertical-align: middle;
    }
/* 공통-끝 */